{% extends 'layout.html' %}

{% block title %}关于本站{% endblock %}
{% block beforehead %}
    <style>
    .left-cal{
        text-align: left;
        display: inline;
        width:20%;
    }
    .center-cal{
        display: inline;
        width:60%;
        text-align: center;
        margin: 0;
    }
    .right-cal{
        text-align: right;
        display: inline;
        width:20%;
    }
    </style>
    <script>
    function getCalendar(){
        var date = new Date(),
            year = date.getFullYear(),
            month = date.getMonth()+1,
            day = date.getDate(),
            week = date.getDay(),
            isLeap = year%4===0 && year%100!=0 || year % 4 === 0 ? true : false,
            days = month === 2 ? (isLeap ? 29 : 28) : ($.inArray(month,[1,3,5,7,8,10,12])!=-1 ? 31: 30),
            firstWeek = (week - day % 7 + 8) % 7,
            lastMonthDays = (month-1) === 2 ? (isLeap ? 29 : 28) : ($.inArray(month-1,[1,3,5,7,8,10,12])!=-1 ? 31: 30),
            calendars = new Array(),
            daylist = new Array(),
            m=0,
            n=0,
            rows = (firstWeek+days-1)%7==0 ? (firstWeek+days-1)/7+1 : (firstWeek+days-1)/7+2;
        for (var i=firstWeek-1;i>=0;i--){
            daylist[i] = lastMonthDays--;
        }
        for (var i=firstWeek;i<days+firstWeek;i++){
            daylist[i] = ++n;
        }
        n=0;
        for (var i=0; i<rows; i++) {
            calendars[i] = new Array();
            for (var j=0; j<7; j++){
                calendars[i][j] = daylist[n] === undefined ? ++m : daylist[n];
                n++;
            }
        }
        return [year,month,day,week,calendars];
    }
        $(function(){
            var datas = getCalendar();
            var calendar = new Vue({
                el: "#calendar",
                data: {
                    weeks:["日", "一", "二", "三", "四", "五", "六"],
                    year: datas[0],
                    month: datas[1],
                    day: datas[2],
                    week: datas[3],
                    calendars: datas[4]
                }
            });
        });
    </script>
{% endblock %}
{% block content %}
<div class="uk-width-medium-3-4">
    <h2>关于本站</h2>
    <hr>
    联系邮箱：lm220930@163.com
</div>
<div id="calendar" class="uk-width-medium-1-4">
    <div id="calendar">
        <div>
            <div class="uk-align-left left-cal"><a><i class="uk-icon-arrow-left"></i></a></div>
            <div class="uk-align-center center-cal" v-text="year+'年'+month+'月'"></div>
            <div class="uk-align-right right-cal"><a><i class="uk-icon-arrow-right "></i></a></div>
        </div>
        <div class="calendar-body">
            <table class="uk-table" title="calendar">
                <thead>
                    <tr>
                        <th v-for="item in weeks" v-text="item"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="rows in calendars">
                        <td v-for="item in rows" v-if="day===item" style="color:blue;"><i v-text="item"></i></td>
                        <td v-else v-text="item"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="uk-panel uk-panel-header">
        <h3 class="uk-panel-title">友情链接</h3>
        <ul class="uk-list uk-list-line">
            <li><i class="uk-icon-thumbs-o-up"></i><a target="_blank" href="#">读书</a></li>
        </ul>
    </div>
</div>
{% endblock %}