{% extends 'layout.html' %}

{% block title %}关于本站{% endblock %}
{% block beforehead %}
    <script>
        $(function(){
            var calendar = new Vue({
                el: "#calendar",
            });
        });
    </script>
{% endblock %}
{% block content %}
<div class="uk-width-medium-3-4">
    <h2>关于本站</h2>
    <hr>
    联系邮箱：lm220930@163.com
    <div class="uk-cover" style="height:300px;">
        <embed src="http://www.w3school.com.cn/i/helloworld.swf" />
    </div>
</div>
<div class="uk-width-medium-1-4">
    <div class="uk-panel uk-panel-box">
        <div class="uk-text-center">
            <img class="uk-border-cricle" width=100% height=100% style="" src="/static/img/timg.png">
            <h3>weely 的小站</h3>
        </div>
    </div>
    <div id="calendar"><calendar></calendar></div>
    <div class="uk-panel uk-panel-header">
        <h3 class="uk-panel-title">友情链接</h3>
        <ul class="uk-list uk-list-line">
            <li><i class="uk-icon-thumbs-o-up"></i><a target="_blank" href="#">读书</a></li>
        </ul>
    </div>
</div>
{% endblock %}