{% extends 'layout.html' %}

{% block title %}随 笔{% endblock %}

{% block beforehead %}
    <style>
    .left-cal{
        text-align: left;
        display: inline;
        width:20%;
    }
    .center-cal{
        display: inline;
        width:60%;
        text-align: center;
        margin: 0;
    }
    .right-cal{
        text-align: right;
        display: inline;
        width:20%;
    }
    </style>
<script>
    function getCalendar(){
        var date = new Date(),
            year = date.getFullYear(),
            month = date.getMonth()+1,
            day = date.getDate(),
            week = date.getDay(),
            isLeap = year%4===0 && year%100!=0 || year % 4 === 0 ? true : false,
            days = month === 2 ? (isLeap ? 29 : 28) : ($.inArray(month,[1,3,5,7,8,10,12])!=-1 ? 31: 30),
            firstWeek = (week - day % 7 + 8) % 7,
            lastMonthDays = (month-1) === 2 ? (isLeap ? 29 : 28) : ($.inArray(month-1,[1,3,5,7,8,10,12])!=-1 ? 31: 30),
            calendars = new Array(),
            daylist = new Array(),
            m=0,
            n=0,
            rows = (firstWeek+days-1)%7==0 ? (firstWeek+days-1)/7+1 : (firstWeek+days-1)/7+2;
        for (var i=firstWeek-1;i>=0;i--){
            daylist[i] = lastMonthDays--;
        }
        for (var i=firstWeek;i<days+firstWeek;i++){
            daylist[i] = ++n;
        }
        n=0;
        for (var i=0; i<rows; i++) {
            calendars[i] = new Array();
            for (var j=0; j<7; j++){
                calendars[i][j] = daylist[n] === undefined ? ++m : daylist[n];
                n++;
            }
        }
        return [year,month,day,week,calendars];
    }
    var comment_url = '/api/blogs/{{ blog.id }}/comments';

    $(function () {
        var datas = getCalendar();
        var calendar = new Vue({
            el: "#calendar",
            data: {
                weeks:["日", "一", "二", "三", "四", "五", "六"],
                year: datas[0],
                month: datas[1],
                day: datas[2],
                week: datas[3],
                calendars: datas[4]
            }
        });
        var $form = $('#form-comment')
        $form.submit(function (e) {
            e.preventDefault();
            $form.showFormError('');
            var content = $form.find('textarea').val().trim();
            if (content === '') {
                return $form.showFormError('请输入评论内容！')
            }
            $form.postJSON(comment_url, {content:content }, function(err, result){
                if (err) {
                    return $form.showFormError(err)
                }
                refresh();
            });
        });
    });
</script>
{% endblock %}

{% block content %}

<div class="uk-width-3-4">
    <article class="uk-article">
        <h2>{{ blog.name }}</h2>
        <p class="uk-article-meta">发表于{{ blog.created_at|datetime }}</p>
        <div class="uk-article-lead">
            {{ blog.html_comment|safe }}
{#            <p>{{ blog.summary }}</p>#}
{#            {{ blog.content }}#}
        </div>

    </article>
    <hr class="uk-article-divider">
    {% if __user__ %}
        <h3>发表评论</h3>
        <article class="uk-comment">
            <header class="uk-comment-header">
                <img class="uk-comment-avatar uk-border-circle" width="50" height="50" src="{{ __user__.image }}">
                <h4 class="uk-comment-title">{{ __user__.name }}</h4>
            </header>
            <div class="uk-comment-body">
                <form id="form-comment" class="uk-form">
                    <div class="uk-alert uk-alert-danger uk-hidden"></div>
                    <div class="uk-form-row">
                        <textarea rows="6" placeholder="说点什么吧" style="width:100%;resize:none;"></textarea>
                    </div>
                    <div class="uk-form-row">
                        <button type="submit" class="uk-button uk-button-primary"><i class="uk-icon-comment"></i>发表评论</button>
                    </div>
                </form>
            </div>
        </article>
        <hr class="uk-article-divider">
    {% endif %}
    <h3>最新评论</h3>
    <ul class="uk-comment-list">
        {% for comment in comments %}
        <li>
            <article class="uk-comment">
                <header class="uk-comment-header">
                    <img class="uk-comment-avatar uk-border-circle" width="50" height="50" src="{{ comment.user_image }}"
                    <h4 class="uk-comment-title">{{ comment.user_name }} {% if comment.user_id==blog.user_id %}(作者){% endif %}</h4>
                    <p class="uk-comment-meta">{{ comment.created_at|datetime }}</p>
                </header>
                <div class="uk-comment-body">
                    {{ comment.html_comment|safe }}
                </div>
            </article>
            <hr class="uk-article-divider">
        </li>
        {% else %}
        <p>还没有人评论哟...</p>
        {% endfor %}
    </ul>
</div>

<div class="uk-width-medium-1-4">
    <div class="uk-panel uk-panel-box">
        <div class="uk-text-center">
            <img class="uk-border-cricle" width=100% height=100% style="" src="{{ blog.user_image }}">
            <h3>{{ blog.user_name }}的日志</h3>
        </div>
    </div>
    <div id="calendar">
        <div>
            <div class="uk-align-left left-cal"><a><i class="uk-icon-arrow-left"></i></a></div>
            <div class="uk-align-center center-cal" v-text="year+'年'+month+'月'"></div>
            <div class="uk-align-right right-cal"><a><i class="uk-icon-arrow-right "></i></a></div>
        </div>
        <div class="calendar-body">
            <table class="uk-table" title="calendar">
                <thead>
                    <tr>
                        <th v-for="item in weeks" v-text="item"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="rows in calendars">
                        <td v-for="item in rows" v-if="day===item" style="color:blue;"><i v-text="item"></i></td>
                        <td v-else v-text="item"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="uk-panel uk-panel-header">
        <h3 class="uk-panel-title">友情链接</h3>
        <ul class="uk-list uk-list-line">
{#            <li><i class="uk-icon-link"></i><a href="#">编程</a></li>#}
{#            <li><i class="uk-icon-link"></i><a href="#">思考</a></li>#}
            <li><i class="uk-icon-link"></i><a href="#">读书</a></li>
        </ul>
    </div>
</div>

{% endblock %}