<!DOCTYPE html>
<html lang="en" class="uk-height-1-1">
<head>
    <meta charset="UTF-8">
    {% block meta %} <!--block meta--> {% endblock %}
    <title>{% block title %} ? {% endblock %} - Weely 的空间</title>
{#    <link rel="Bookmark" href="/static/img/timg.png">#}
    <link rel="icon" href="/static/img/timg.png" type="image/x-icon" />
{#    <link rel="shortcut icon" href="/static/img/timg.png">#}
    <link rel="stylesheet" href="/static/css/uikit.min.css">
    <link rel="stylesheet" href="/static/css/uikit.gradient.min.css">
    <link rel="stylesheet" href="/static/css/awesome.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/sha1.min.js"></script>
    <script src="/static/js/uikit.min.js"></script>
    <script src="/static/js/sticky.min.js"></script>
    <script src="/static/js/vue.js"></script>
    <script src="/static/js/awesome.js"></script>
<style>
    .home-body{
{#        background-image:url("../static/img/timg.png");#}
        background: #01e0e6;
        clear:both;
{#        background-size:100%,100%;#}
{#        background-repeat:no-repeat;#}
    }
    .home-header{
        {#        background-image:url("../static/img/timg.png");#}
{#        background-color: #00a8e6;#}
    }
    .home-footer{
        text-align: center;
        min-height: 15px;
        _height: 15px;
        margin-top: 10px;
        padding-top: 10px;
        margin-bottom: 10px;
        padding-bottom: 10px;
        color: #333;
    }
    .home-content{
        background-color: rgba(255, 254, 250, 0.91);
        padding-top: 25px;
        padding-bottom: 25px;

    }
</style>
    {% block beforehead %} <!-- before head--> {% endblock %}
</head>
<body class="uk-height-1-1 home-body">
    <div class="home-header">
        <div class="uk-container uk-container-center" >
            <h2 style="margin-top: 10px">weely 的小站</h2>
        </div>
        <nav class="uk-navbar uk-container uk-container-center " style="background: #02d3e6;padding-left: 0;padding-right: 0;">
            <div class="">
                <ul class="uk-navbar-nav" style="overflow:hidden">
                    <li>
                    <a href="/" class="uk-navbar-brand" style="color: #000000;"><i class="uk-icon-home"></i>首页</a>
                    </li>
                    <li data-url="blogs"><a href="/" style="color: #000000;"><i class="uk-icon-tag"></i>随笔</a></li>
{#                    <li data-url="blogs"><a target="_blank"  href="#" style="color: #000000;"><i class="uk-icon-book"></i>教程</a></li>#}
{#                    <li><a target="_blank" href="https://github.com/weely/webapp-python"><i class="uk-icon-code"></i>源码</a></li>#}
                    <li ><a href="" style="color: #000000;"><i class="uk-icon-info"></i>关于本站</a></li>

                </ul>
                <div class="uk-navbar-flip">
                    <ul class="uk-navbar-nav" >
                    {% if __user__  %}
                        <li class="uk-parent" data-uk-dropdown>
                            <a href="#0"  ><i class="uk-icon-user"></i>{{ __user__.name }}</a>
                            <div class="uk-dropdown uk-dropdown-navbar">
                                <ul class="uk-nav uk-nav-navbar">
                                    <li><a href="/user/{{ __user__.id }}" style="color: #000000;"><i class="uk-icon-cog"></i>设置</a></li>
                                    <li><a href="/signout" style="color: #000000;"><i class="uk-icon-sign-out"></i>登出</a></li>
                                </ul>
                            </div>
                        </li>
                    {% else %}
                        <li><a href="/signin" style="color: #000000;"><i class="uk-icon-sign-in"></i>登录</a></li>
                        <li><a href="/register" style="color: #000000;"><i class="uk-icon-users"></i>注册</a></li>
                    {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div class="uk-container uk-container-center home-content">

        <div class="uk-grid">
            <!-- content -->
            {% block content %} {% endblock %}
        </div>

    </div>
    <div class="uk-margin-large-top home-footer">
        <div class="uk-container uk-container-center uk-text-center">
            <div class="uk-panel uk-margin-top uk-margin-bottom">
                <p>
                    <a target="_blank" href="#" class="uk-icon-button uk-icon-weibo"></a>
                    <a target="_blank" href="https://github.com/weely" class="uk-icon-button uk-icon-github"></a>
{#                    <a target="_blank" href="#" class="uk-icon-button uk-icon-linkedin-square"></a>#}
{#                    <a target="_blank" href="#" class="uk-icon-button uk-icon-twitter"></a>#}
                    Powered by <a href="#">Python Webapp</a>.Copyright @copy; 2017. [<a href="/manage/" target="_blank">Manage</a>]. All rights reserved
{#                <a target="_blank" href="#"><i class="uk-icon-html5" style="font-size:64px; color:#444;"></i></a>#}
                </p>
            </div>
        </div>
    </div>
</body>
</html>