{% extends 'layout.html' %}

{% block title %}用户设置{% endblock %}

{% block beforehead %}
<style>
.user-img-panel {
    display: block;
    position: relative;
}
.user-img-show {

}
.user-img-edit {
    display: block;
    position: absolute;
    width: 100%;
    background: rgba(64,64,64,.5);
    background: #333\9;
    overflow: hidden;
    bottom: 2px;
    left: 0;
    _bottom: 16px;
    height: 0;
    transition: .3s;
    color: #ccc;
    text-align: center;
    filter: alpha(opacity:60);
}
</style>
<script>
    function validateEmail(email){
        var re = /^[a-z0-9\.\-\_]+\@[a-z0-9\-\_]+(\.[a-z0-9\-\_]+){1,4}$/;
        return re.test(email.toLowerCase());
    }
    $(function(){
        var vm = new Vue({
            el: '#vm',
            data: {
                name: '{{ user.name }}',
                email: '{{ user.email }}',
                password1: '{{ user.password }}',
                password2: "",
                admin: {{ user.admin }},
{#                is_edit: 0,#}
                btn_display: 'none',
                psw_display: 'none'
{#                editObject:{#}
{#                    display: 'none'#}
{#                }#}
            },
            methods: {
                save: function (event) {
                    event.preventDefault();
                    var $form = $('#vm');
                    if (! this.name.trim()) {
                        return $form.showFormError('！请输入名字');
                    }
{#                    if (! validateEmail(this.email.trim().toLowerCase())) {#}
{#                        return $form.showFormError('！请输入正确的Email地址');#}
{#                    }#}
                    if (this.password1.lenght < 6) {
                        return $form.showFormError('！密码长度至少为6个字符');
                    }
                    if (this.password1 != this.password2) {
                        return $form.showFormError('！两次输入的口令不一致');
                    }
                    var email = this.email.trim().toLowerCase();
                    $form.postJSON('/api/users', {
                        name : this.name.trim(),
                        email: email,
                        password: CryptoJS.SHA1(email + ':' + this.password1).toString()
                    }, function (err, r) {
                        if (err) {
                            return $form.showFormError(err);
                        }
                        return location.assign('/');
                    });
                },
                update: function (event) {
                    event.preventDefault();
                    this.btn_display = 'inline';
                    this.psw_display = 'block';
                    document.getElementById("name").readOnly = false;
                    document.getElementById("setting").disabled = true;
                }
            }
        });
        $('#vm').show();
    });
</script>
{% endblock %}

{% block content %}
<div class="uk-width-2-3">
    <h1>用户设置</h1>
    <form id="vm" v-on:submit="save" class="uk-form uk-form-horizontal">
        <div class="uk-alert uk-alert-danger uk-hidden"></div>
        <div class="uk-form-row">
            <label class="uk-form-label">用户头像：</label>
            <div class="uk-form-controls">
                <a class="user-img-panel" href="">
                    <img src="{{ user.image }}" class="user-img-show">
                    <span class="user-img-edit">修改头像</span>
                </a>
            </div>
        </div>
        <div class="uk-form-row">
            <label class="uk-form-label">用户名：</label>
            <div class="uk-form-controls">
                <input v-model="name" id="name" type="text" maxlength="50" placeholder="用户名" class="uk-width-1-1" readOnly>
            </div>
        </div>

        <div class="uk-form-row">
            <label class="uk-form-label">电子邮件：</label>
            <div class="uk-form-controls">
                <input v-model="email" type="text" maxlength="50" class="uk-width-1-1" disabled>
            </div>
        </div>
        <div class="uk-form-row" v-bind:style="{display: psw_display}">
            <label class="uk-form-label">密码1：</label>
            <div class="uk-form-controls">
                <input v-model="password1" type="password" maxlength="50" placeholder="输入口令" class="uk-width-1-1">
            </div>
        </div>
        <div class="uk-form-row" v-bind:style="{display: psw_display}">
            <label class="uk-form-label">密码2：</label>
            <div class="uk-form-controls">
                <input v-model="password2" type="password" maxlength="50" placeholder="重复口令" class="uk-width-1-1">
            </div>
        </div>
        <div class="uk-form-row">
            <label class="uk-form-label">管理员(是/否)：</label>
            <div class="uk-form-controls">
                <input v-model="admin" type="radio"  v-bind:value="admin" disabled>
            </div>
        </div>
        <div class="uk-form-row">
            <div class="uk-form-controls">
                <button type="button" id="setting" v-on:click="update" class="uk-button uk-button-primary"><i class="uk-icon-cog"></i>设置</button>
                <div v-bind:style="{display: btn_display}">
                    <button type="submit" class="uk-button uk-button-primary"><i class="uk-icon-save"></i>保存</button>
                    <a href="/user/{{ user.id }}" class="uk-button"><i class="uk-icon-times"></i> 取消</a>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}