/*
 * custom css
 */

a:hover, a:active {
    text-decoration: none;
}

#vm {
    display: none;
}
#loading {
    margin-bottom: 15px;
}
#error {
    display: none;
    margin-bottom: 15px;
}

.calendar th,td {
    text-align:center;
}

.table-left th ,td {
    text-align:left;
}